/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html * {
    /*transition: all 0.5s ease; */ /* Maria: Ocasionaba que el slider tuviera un comportamiento indeseado*/ 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   MY CSS CUSTOM
   ========================================================================== */

table {
  max-width: 1100px;
   font-family: 'Ubuntu', sans-serif;
}

li {
    max-height: 25px;
    position: relative;
    display: inline-block;
    float: left;
    padding: 10px;
    top: 5px;
}
li.menu-item a {
    color: white;
    line-height: 35px;
    max-width: 100%;
    font-family: Abel, teko, arial;
    text-transform: uppercase;
    text-decoration: none;
}
nav.mainMenu {
    background-color: black;
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    padding: 0px;
    box-sizing: border-box;
    z-index: 999;
}
li.logo.menu-item {
    top: 0px;
}
.logo img {
    max-width: 100%;
    height: 40px;
}
.mainMenu ul {
    height: auto;
    box-sizing: border-box;
    min-height: 60px;
    position: relative;
    margin: 0;
    width: auto;
    display: inline-block;
    padding: 0;
}
ul.escondeMenu {
    height: 0px;
    position: absolute;
    background: #ed1b23;
    overflow: hidden;
    display: block;
    min-height: 0;    
}
ul.menuSecundario {
    float: right;
    right: 20px;
}
li.menu-item.secondMenu.separador {
    color: white;
    top: 11px;
}
.menuSecundario li {
    opacity: 0.9;
}
.menuSecundario li:hover {
    opacity: 1;
}
.menu-item:hover a {
    color: #ea1a22;
}
li:hover ul.escondeMenu {
    height: auto;
}
li:hover .escondeMenu a {
    color: white;
}
li:hover ul.escondeMenu {
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    top: 52px;
    line-height: 1;
    padding: 0px 10px 10px;
}
li.menu-item:hover {
    border-bottom: 2px #ffffff solid;
}

.mainSlider {
    margin-top: 65px;
    min-height: 400px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.slick-arrow {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    background: rgba(255,255,255,0);
    border: none;
    bottom: 0;
    font-size: 0;
    color: rgba(0,0,0,0);
}

.franjaNewsletter {
    width: 100%;
    background-color: #e1e1e1;
    padding: 10px 15px 40px;
    box-sizing: border-box;
    text-align: center;
    color: black;
}

.lowerFooter {
    background-color: black;
    max-width: 100%;
    float: left;
    position: relative;
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
}
.logoFooter img {
    height: 55px;
}
.columnaFooter h2 {
    margin: 0;
}
.columnaFooter {
    width: 100%;
    max-width: 19%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    margin: 0 auto;
}
.fb-page.fb_iframe_widget {
    float: none;
    left: 0;
    right: 0;
    position: relative;
    margin: 0 auto !important;
    display: block;
    max-width: 340px;
}
.columnaFooter.holderFacebook {
    background-color: #3a5897;
}
.holderTwitter {
    background-color: #6caddf;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
.footerOverflowerSocial {
    max-width: 340px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: relative;
    display: block;
    max-height: 323px;
    overflow-y: hidden;
}
.columnaFooter.holderInstagram {
    background-color: #9a8066;
}
.logoFooter {
    height: 35px;
}
.LinksDeInteres li {
    display: block;
    float: left;
    clear: both;
}
ul.LinksDeInteres {
    margin: 0;
    padding: 0;
}
.linksSociales a {
    text-decoration: none;
    font-size: 30px;
    margin: 0 5px;
}
footer, footer a {
    color: white;
    text-decoration: none;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 15px 0 5px;
    background-color: #444;
    font-size: 11px;
}


ul.holder-paisesHome {
    display: inline-block;
    border-left: 5px solid;
    padding-left: 19px;
    max-width: 210px;
    min-width: 210px;
}

ul.holder-paisesHome > li {
    padding-top: 0px;    
}

.holder-right {
    display: inline-block;
    float: right;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 21px;
}

.holder-left {
   display: inline-block;
    float: left;
    padding-top: 120px;
    padding-left: 60px;
}

li.pais-franquicia {
    width: 100%;
}
.pais-franquicia img {
    display: inline;
    margin-right: 10px;
}
.pais-franquicia a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.slide {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 613px !important;
    padding: 25px;
    box-sizing: border-box;
    color: #ffffff;
}

.slide.home {
    background-image: url(../img/banner1-home.jpg);    
}

.slide.norkisSeUne {
    background-image: url(../img/banner2-home.jpg); 
    position: relative;   
    line-height: 1;
}
.slide.obtenFranquicia {
    background-image: url(../img/banner3-home.jpg);    
}

.slide.bumbum {
    background-image: url(../img/banner4-home.jpg);    
}

@media screen and (max-width: 1125px) and (min-width: 970px) {
    .obtenFranquicia h1 {
        font-size: 40px;
    }
    
    .obtenFranquicia ul {
        width: 170px;
    }

    .obtenFranquicia li {
        font-size: 16px
    }
}

@media screen and (max-width: 971px) and (min-width: 822px) {
    .obtenFranquicia h1 {
        font-size: 30px;
    }
    
    .obtenFranquicia ul {
        width: 170px;
    }

    .obtenFranquicia li {
        font-size: 16px
    }
}

@media screen and (max-width: 821px) {
    
    .obtenFranquicia h1 {
        font-size: 20px;
    }

     .obtenFranquicia ul {
        width: 170px;
    }

    .obtenFranquicia li {
        font-size: 16px
    }

    .obtenFranquicia .holder-left {
        padding: 0px;
        
    }
    
    .obtenFranquicia .holder-right {
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }
}

@media screen and (max-width: 630px) {
    .mainSlider {
        margin-top: 125px;    }
}



.productTease {
    margin-top: -50px;
    min-height: 800px;
    background-image: url(../img/banner5-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 700;

}
.productTranspHold {
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    max-width: 100%;
    width: 450px;
    text-transform: uppercase;
    line-height: 1;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.productTease h1 {
    font-size: 33px;
    font-weight: 900;
    vertical-align: middle;
    margin-top: 70%;
    position: relative;
}
.productTease h1 span {
    font-size: 45px;
}
body a h2 {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}
.botonTransparente {
    text-decoration: none;
    padding: 8px 25px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: 4px solid white;
    color: #ffffff;
    font-size: 20px !important;
    font-weight: 100;    
}
.botonTransparente.rojo {
    border: 1px solid white;
}

.botonTransparente:hover {
    background-color: #ea1a22;
    color: white;    
    border: 4px solid #ea1a22;
}

.botonTransparente.rojo:hover {
    background-color: white;
    color: #ea1a22;    
    border: 1px solid white;
}

.botonSolido:hover {
    background-color: #ea1a22;
    color: white!important;        
}

a {
    text-decoration: none;
}
.botonSolido {
    position: relative;
    display: inline-block;
    padding: 12px 25px;
    background-color: #ffffff;
    color: #444!important;
    font-size: 20px !important;
    font-weight: 100;
}
.botonSolido h2 {
    color: #444;
}
img.productosFlotandoTease {
    max-width: 40%;
    max-height: 280px;
    position: absolute;
    display: block;
    bottom: 0;
    left: auto;
    right: 300px;
}
.franjaTestimonios {
    background-color: #cd1d1e;
    margin-top: -20px;
    padding: 10px;
    position: relative;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;     
} 
.franjaTestimonios .botonTransparente a {
    color: #ffffff;
}
.franjaTestimonios .botonTransparente {
    padding: 12px 20px;
    font-size: 20px;
    border: 1px solid;
}   
.franjaTestimonios .botonTransparente {
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid;
    margin: 15px 60px;
}
.franjaFit {
    position: relative;
    display: block;
    margin-top: 0px;
    box-sizing: border-box;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.fitBlock {
    display: inline-block;
    width: 50%;
    border: 0;
    box-sizing: border-box;
    float: left;
    text-align: center;
    min-height: 350px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
}
.abdomenDeAcero.fitBlock {
    background-image: url(../img/abdomen-acero-home.jpg);
}
.perdidaDePeso.fitBlock {
    background-image: url(../img/cuerpo-deseas.jpg);
}
.textoEnFit {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    top: -45px;
    bottom: 0;
    height: auto;
    max-height: 100px;
    margin: auto;
}


.franjaNewsletter h2 {
    text-transform: uppercase;
    
}

.franjaNewsletter button {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.pagoIco {
    margin: 10px 45px;
    height: 55px;
}

/* background  para franja metodos de pago*/

.franjaMetodosDePago {
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;  
    color: #6f6868;  
    font-size: 18px;
}


.fondoMetodosDePago{
    background-image: url(../img/pago-home.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
}

.contenidoMetodosDePago {
    position: relative;
    margin: 0px 60px;
}

.contenidoMetodosDePago h2 {
    padding-top: 25px; 
    margin:0px;
}

.slick-prev {
    left: 0px!important; 
    z-index: 999;  
    opacity: 0!important;
}

.slick-next {
    right: 15px!important;   
    opacity: 0!important;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px!important;
    
}

.mainSlider:hover .slick-prev {
    opacity: 0.7!important;      
}

.mainSlider:hover .slick-next {
    opacity: 0.7!important;      
}

.mainSlider  .pais-franquicia img {
    display: inline-block!important;
}

.alineacionIzq {
    text-align: right;
}

.logoFedex {
    height: 300px;
}

.slider .productosSlide1 {
    background-image: url(../img/banner1-productos.jpg);
    background-size: cover;
    background-position: top center;
}


.cuerpoDeseas {    
    min-height: 400px;
    background-image: url(../img/cuerpo-deseas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-left: 50px;
    line-height: 1;
}

.catalogoProductos { 
    position: relative;
    height: auto;
    overflow: hidden;
}

.catalogoProductos h2 br {
    display: none;
}

.menuLateralProductos {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 30%;
    display: inline-block;
    float: left;
    position: absolute;
    background: black;
    height: 100%;
}
/*.productos {
    display: inline-block;
    font-size: 0;
    float: right;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    background: white;
    width: 70%;
}*/

.productos {
    display: inline-block;
    font-size: 0;
    float: right;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background: white;
    width: 70%;
}

.productos>div: {
   max-width: 900px;
   display: inline-block;     
}

.menuLateralProductos ul {
    margin-top: 0px;
    display: inline-block;
    padding-bottom: 20px;
}

.menuLateralProductos li {
    width: 100%;
}

.menuLateralProductos a {
    color: white;
    font-weight: 500;
}

.typeBusqueda {
    margin-top: 20px;
}

.productos .imagenProducto {
    max-width: 300px;
    max-height: 190px;
}

.nombreProducto { 
    height: 35px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.productos .producto {
    display: inline-block;
    position: relative;    
}

/*.productos .revisaPlanes {
    background-color: #cd1d1e;
    margin: 15px 0px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    padding: 20px;
    color: white;
}*/

.productos .revisaPlanes {
    background-color: #cd1d1e;
    margin: 15px 0px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 20px;
    color: white;
}

.productos .revisaPlanes a{
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid;
    margin: 0px 60px;
    color: white;
    text-transform: uppercase;
}

.productos .revisaPlanes a:hover{    
    background-color: white;    
    color: #ea1a22;
}


.cuerpoDeseas h1 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
}

.cuerpoDeseas h1:first-child {
    padding-top: 135px;
    position: relative;
}

.franjaNewsletter input[type="text"] {
    height: 20px;
    padding: 2px;
    top: 1px;
    position: relative;
}


/* Nosotros*/

.slider {
    height: 400px;
    margin-top: 65px;
    min-height: 400px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 18px;    
    background-size: cover;
}

.slider div{
    height: 100%;
}

.misionVision {
    width: 100%;
    height: 470px;
    position: relative;
    background-image: url(../img/mision.jpg); 
    background-size: cover;
    background-position: center bottom;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}


.vision {
    width: 50%;
    height: 370px;    
    background-size: cover;
    display: inline-block;
    float: right;
    color:#FFFFFF;
    text-align: justify;
}

p.claseMision {
    max-width: 90%;
    margin: 0 auto; 
    position: relative;
    top: 10%;
} 

.tituloVision {
    border: 1px solid;
    display: inline-block;
    padding: 10px 40px;

} 

.textosVision {    
    font-size: 18px;
    line-height: 24px;

}

.tresTerciosDiv {
    width: 27%;
    display: inline-block;
    float: left;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 0px;               
}


.WrapperTresDiv {
    width: 90%;
    margin:30px auto;
    height: auto;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1100px;
}

.noTopNoBottom {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold
}

.wapper_Pagos_Btn {
    position: relative;
   
    padding: 39px;
    border: 1px solid;
    background: #cd1d1e ;
    color:white;
    text-transform: uppercase;
}

.pagosYCondiciones {
    display: inline-block;
    margin-left: 80px;
    margin-right: 400px;
} 

.MainWrapperPagos_Btn .botonTransparente {
    position: absolute;
    top: 40px;
    border: 1px solid white;
    display: inline-block;   
    border-width: 2px;
    color:white;
    padding: 6px 56px;
}

.MainWrapperPagos_Btn .botonTransparente :hover{
    background-color: white;
    color: #ea1a22;    
    border: 1px solid white;
}

a:-webkit-any-link{
    color:white;
}

div.parrafoInicialNosotros p {
    max-width: 90%;
    margin: 40px auto;
    text-align: center;
}


.slider .nosotrosSlide1 {
    background-image: url(../img/banner1-nosotros.jpg);    
    background-size: cover;
    background-position: top center;
}


.dosDivs{

    display: inline-block;
    float: left;
    width: 40%;
    text-align: justify;
    margin-bottom: 0px;
    padding: 0px 5%;
    text-decoration: none;
    padding-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
}

.dosDivsWrapper{
    position: relative;
    overflow: hidden;
    height: auto;
    width: 95%;
    margin: 0 auto;
    text-decoration: none;
    margin-top:4%;

}

.justified{
    text-align: justify;
    font-size: 17px;
}

.wrapperProductos td {
    padding: 20px;
}

/*** PREGUNTAS FRECUENTES   ***/


p.letraPequena{
   font-size: 10px;
   color: grey;   
}

p.letraNormal{
   font-size: 22px;   
   text-align: left;
}


.FAQ {
    width: 25%;
    float: left;
    margin-left: 4%;
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 4%;  
    padding: 1%;
    text-align: justify;
    display: inline-block;    
}

.borderColorFAQ {
    background-color: #f7f7f7;
    border-top: 3px solid #efefef;
    border-left: 3px solid #efefef;
}

.tituloFAQ {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
    margin-top: 65px;
}

.tablaFAQ {
    position: relative;
    margin: 20px auto;
}

@media screen and (max-width: 735px) and (min-width: 100px) {
    .FAQ {
        width: 94%;
    }
}

.terminosycondiciones {
    position: relative;
    display: block;
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
}

.terminosycondiciones h2 {
   margin-left: 75px; 
}

.terminosycondiciones .terminos {
    margin: 30px 75px;
    text-align: justify;
}

.terminos tbody {
    column-count: 2;
    position: relative;
    display: block;
}

tr {
    position: relative;
    display: block;
}


.fuerteYSaludable {
    background-color: #5a5f88;
    background-color: #5a5f88;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.fuerteYSaludable h1 {
    margin-top: 0;
}

.oportunidadDescripcion {
    width: 40%;
    display: inline-block;
    float: left;
    text-align: justify;
    padding: 3%;
    margin-left: 4%;
}

.oportunidadDescripcion br + br + strong {
    position: relative;
    display: block;
    margin-bottom: 0px;
}

.oportunidadDescripcion p{
    font-family: 'Ubuntu', sans-serif;
}

.oportunidadDescripcion.bg {
    background-image: url(../img/banner1.jpg);
    background-size: cover;  
}

.oportunidadDescripcion p {
    line-height: 26px;
}

.opotunidadContenedor {
    overflow: hidden;
    height: auto;
    margin-top: 1%;
 }

 .oportunidadDescripcion label {
    display: block;
 }
 
 .labelInput{
    margin-bottom: 6%;
 }

 .labelInput select{
    width: 85%;
 }

 .inputsOp {
    width: 80%;
    padding: 14px;
    border: none;
    background-color: rgba(192, 192, 192, 0.24);
 }

 .noTopBottom{
    margin-top: 0px;
    margin-bottom: 0px;
 }

.oportunidadDescripcion h2 {
    margin-top: 0;
}


.opEnviar {
    background: black;
    width: 40%;
    color: white;
    margin-left: 25%;
    padding: 2%;
}

.franjaRoja {
    position: relative;
    padding: 3% 10%;    
    background: #cd1d1e;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    overflow: hidden;
}


.franjaRoja .texto {
    display: inline-block;
    width: 70%;
}

.franjaRoja  .boton{
    float:right;
}


.cuerpoSaludable {
    height: 500px;
    background-image: url(../img/cuerpo-saludable.jpg); 
    background-size: cover;
    position: relative;
}


.cuerpoSaludable .tituloDerecha {
    position: absolute;
    left: 50%;    
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: rgba(0,0,0,0.4);
    float: right;
    width: 50%;    
    height: 100%;     
}

.cuerpoSaludable .tituloDerecha h1{
    margin: : 20%;
 }   

.cuerpoSaludable .letraPequeña {
    font-weight: 400;    
}

.oportunidadDescripcion img {
    width: 90%;
}

.slider .contactenosSlide1 {
    background-image: url(../img/banner1-contactenos.jpg);    
    background-size: cover;
    background-position: top center;
}

.slider .oportunidadSlide1 {
    background-image: url(../img/banner1-oportunidad.jpg);    
    background-size: cover;
}

.slider .metodosPagoSlide1 {
    background-image: url(../img/banner1-pagos.jpg);    
    background-size: cover;
}

.slider .terminosSlide1 {
    background-image: url(../img/banner1-terminos.jpg);    
    background-size: cover;    
}                

.slider .faqSlide1 {
    background-image: url(../img/banner1-faq.jpg);    
    background-size: cover;
}                

.slider .tiendaSlide1 {
    background-image: url(../img/banner1-tienda.jpg);    
    background-size: cover;
}                

.fuerteSaludable {
    min-height: 400px;
    background-image: url(../img/fuerte-saludable.jpg);
    background-size: cover;
    position: relative;
}

.fuerteSaludable .textofuerteSaludable {
   position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    color: white;
    width: 50%;    
    background-color: rgba(0,0,0,0.2);
}

.verticalAlign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
} 


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 

.nombreProducto.tienda {
    background: none; 
}

.precio {
    color : #cd1d1e;
}

.producto:hover .producto img {
  background: rgba(0,0,0,0.4);
}

/*.comprar {
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left: 0;
    font-size: 20px;
    color: white;    
    display: none;
}*/

.comprar {
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 0;
    width: 100%;    
    top: 0;
    left: 0;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding-bottom: 0;
    overflow: hidden;
    top: 50%;
    transition: all 0.5s ease !important;
    -webkit-transition: all 0.5s ease !important;

}

/*.producto:hover .comprar{  
  display: inline-block;
}*/

.producto:hover .comprar {
   
    display: inline-block;
    height: 100%;
    top: 0;
    padding-bottom: 35px;
}

.comprar a.botonTransparente {
    margin-top: 25px;
}

.comprar a.botonTransparente {
    margin-top: 17px;
    background: #cd1d1e;
    color: white;
    font-size: 14px !important;
    border: none;
    border-radius: 5px;
}   

.franjaRoja + div + div {
    padding-bottom: 25px;
}


.seccionOpaca {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    color: white;
    width: 50%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}

.norkisSeUne h2 {
    font-size: 50px
}

.norkisSeUne h1 {
    font-size: 80px   
}

.parrafoInicialNosotros {
    max-width: 1100px;
    font-family: 'Ubuntu', sans-serif;
     margin: 0 auto;
}

.terminosycondiciones td {
    padding: 15px 10px;
}

h1,h2,h3 ,h4{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
}

.descuentos {
    height: 270px;
    margin-bottom: -15px;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
}

.WrapperTresDiv + .franjaRoja .boton {
top: 17px;
position: relative;
}

 .mitadFranjaRoja  {
    position: relative;
    padding: 5% 0%;
    background: #cd1d1e;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    overflow: hidden;
    display: inline-block;
    font-weight: 700;
    width: 48%;
    margin: 0% 1% 3%;
} 

.ordenAlfabetico {
    font-size: 20px;
    text-align: right; margin: 50px 3% 13px 3% 
}

.imagen2Tienda {
    background-image: url(../img/vision.jpg);
    background-size: cover;
    height: 300px;
    display: inline-block;
    width: 50%;
    float: left;
}

.imagen3Tienda {
    /*background-image: url(../img/envaces-home.png);*/
    background-size: cover;
    height: 300px;
    display: inline-block;
    width: 50%;
    float: right;
    background-color:rgba(255, 152, 0, 0.8);
    position: relative;
}

.imagen3Tienda h3{
    font-size: 25px;
    color: white;

}

.mitad {
    width: 48%;
    display: inline-block;
}

.flecha {
    background-color: black;
    font-size: 0px;
    width: 30%;
    display: inline-block;
    padding: 2%;
    float:left;
    text-align: center;
}

.flecha div {
    font-size: 20px;
    
}

.comprarAhora {
    background-color: white;
    color: black;
    display: inline-block;
    font-size: 0px;
    padding: 2%;
    float:left;
    text-align: center;
}

.comprarAhora div {
    font-size: 20px;
}

.slider .carritoSlide1 {
        background-image: url(../img/banner1-carrito.jpg);    
}

.carrito {
    overflow: hidden;
}

.carritoCompras {
    width: 66%;
    display: inline-block;
    float: left;    
    padding-left: 4%;    
}

.articulosCarrito {
    min-height: 250px

}

.totales {
    width: 29%;
    display: inline-block;
    float:right;
    margin-bottom: 20px;
}

.subtotal {
    background: rgba(192, 192, 192, 0.41);
    min-height: 150px;
    padding: 8%;
    position: relative;
}

.letraRegular {
    font-weight: 400;
}

.botonRojo {
    background-color: #ea1a22;    
    color: white;
    padding: 13px 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.botonNegro {
    background-color: black;    
    color: white;
    padding: 13px 32px;
    font-family: 'Montserrat', sans-serif;   
    font-weight: bold;
}

.letraPequena {
    font-size: 13px;    
}

.mensajesImportantes {
    background: rgba(192, 192, 192, 0.41);
    min-height: 200px;
    padding: 2% 5%;
}

.paddingCarrito {
    padding-left: 50px;

}

.carritoVacio {
    min-height: 200px;
    position: relative;
}

.centradoAbajo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} 

.imagenProductoRecomendado {
    display: inline-block;
    width: 40%;
    float: left;
}

.imagenProductoRecomendado  img{
    max-width: 100%;
}

.descripcionProducto {
    display: inline-block;
    width: 54%;
    float: right;
    position: relative;
    min-height: 160px;
    
}

.articuloRecomendado { 
   overflow: hidden;
   margin-bottom: 30px;
}

.articulosRecomendados {
    margin-top: 70px;
}

.articuloCompra { 
   overflow: hidden;
   width: 50%;   
   display: inline-block;
}

.precioCompra { 
   overflow: hidden;
   width: 20%;   
   display: inline-block;
}

.cantidadCompra { 
   overflow: hidden;
   width: 20%;   
   display: inline-block;
}